.overlay {
    background-image: url('./home-bg.jpg');
    background-size: cover;
    background-position: center;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* Adjust opacity as needed */
    z-index: 0;
}

.relative .relative.z-10 {
    position: relative;
    z-index: 10;
}

/* 
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
     background-image: url('./home-bg.jpg');
    background-size: cover;
    background-position: center; 
    padding: 50px;
    text-align: center;
    background-repeat: no-repeat;
    max-height: 100vh;
}

 */

