/* Global body and html styles */
html,
body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

/* Hero section background */
.hero-bg {
    background-image: url('/hero2.jpg');
    background-size: cover;
    background-position: center;
}

/* Fade-in animation */
.animate-fade-in {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Slider Animation */
@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}

/* For the sliding images */
.animate-slide {
    animation: slide 15s infinite linear;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 2s ease-in-out;
}
