.overlay {
    background-image: url('./home-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: #ffffff;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* Adjust opacity as needed */
    z-index: 0;
}

.relative .relative.z-10 {
    position: relative;
    z-index: 10;
}

/* homepage.css */

.stroke-text {
  
    text-shadow:
        2px 2px 0 rgba(113, 162, 232, 0.7),
        /* Right shadow */
        -2px -2px 0 rgba(93, 139, 203, 0.7),
        /* Left shadow */
        2px -2px 0 rgba(31, 103, 205, 0.7),
        /* Top right shadow */
        -2px 2px 0 rgba(202, 210, 220, 0.7);
    /* Bottom left shadow */ 
}

.stroke-text1{
    text-shadow:
            2px 2px 0 rgba(0, 0, 0, 0.5),
            /* Right shadow */
            -2px -2px 0 rgba(0, 0, 0, 0.5),
            /* Left shadow */
            2px -2px 0 rgba(0, 0, 0, 0.5),
            /* Top right shadow */
            -2px 2px 0 rgba(0, 0, 0, 0.5);
        /* Bottom left shadow */
        
}

.stroke-text2{
    text-shadow:
        2px 2px 0 rgba(70, 39, 225, 0.6),
        /* Right shadow */
        -2px -2px 0 rgba(0, 0, 0, 0.6),
        /* Left shadow */
        2px -2px 0 rgba(0, 0, 0, 0.6),
        /* Top right shadow */
        -2px 2px 0 rgba(0, 0, 0, 0.6);
    /* Bottom left shadow */

}

/* 
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
     background-image: url('./home-bg.jpg');
    background-size: cover;
    background-position: center; 
    padding: 50px;
    text-align: center;
    background-repeat: no-repeat;
    max-height: 100vh;
}

 */

button:hover {
    transform: scale(1.05);
}